body{
    border: black 1px solid;
    margin: 0px;
    height: 925px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    width: 600px;
    height: 600px;
    border: black solid 1px;
    display: flex;
    flex-wrap:wrap;
    
    
}